@use "../abstracts" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  overscroll-behavior: none;
  color: white;

  &:has(dialog:open) {
    overflow: inherit;
  }

  &.lock-scrollbar {
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
