@use "../abstracts" as *;

.carousel {
  width: min(120rem, 100%);
  height: 100svh;
  min-height: 500px; // safety
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; /* For Safari and Chrome */
  -webkit-touch-callout: none; /* Prevent callout menu on long press */
  outline: none;

  @media (min-width: map-get($breakpoint, extra-large)) {
    height: min(100svh, 43.75rem);
  }

  &__item {
    @include user-select-none;
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: 500ms ease-in;

    &--active {
      opacity: 1;
      z-index: 1;
    }

    @media (min-width: map-get($breakpoint, medium)) and (max-width: map-get($breakpoint, large)) {
      align-items: center;
      justify-content: center;
    }

    @media (min-width: map-get($breakpoint, large)) {
      padding-left: calc((100% - $container) / 2);
    }
  }

  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 16/9;
    filter: brightness(0.6);
    pointer-events: none;
    user-select: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:first-of-type {
      @include fade-in(1s, ease-in-out);
      opacity: 0;
    }
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    padding: $spacing-6;
    user-select: none;
    margin-top: -6rem;

    &:first-of-type {
      @include fade-in-slide-up(500ms, ease-in, 300ms);
      opacity: 0;
    }

    @media (min-width: map-get($breakpoint, medium)) and (max-width: map-get($breakpoint, large)) {
      width: 40rem;
    }

    @media (min-width: map-get($breakpoint, large)) {
      width: calc($container / 2);
      padding-left: clamp(1rem, -4.3913rem + 8.6957vw, 3rem);
    }
  }

  &__item-title {
    font-size: map-get($font-size, 2);
    font-weight: 700;
  }

  &__item-details {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    margin-top: calc($spacing-2 * -1);
  }

  &__item-rating-category {
    padding-inline: $spacing-1;
    background-color: $accent;
    border-radius: $spacing-1;
  }

  &__item-rating {
    display: flex;
    align-items: center;
    gap: $spacing-1;
    font-weight: bold;
  }

  &__item-genres {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-2;

    & span {
      @include light-glass-effect;
      font-size: map-get($font-size, 6);
      padding: $spacing-1 $spacing-2;
      border: 1px solid $light;
      border-radius: $spacing-1;
    }
  }

  &__item-overview {
    line-height: 1.25;
    max-width: 100%;
  }

  &__item-actions {
    display: flex;
    align-items: center;
    gap: $spacing-4;
  }

  .btn--trailer {
    background-color: $trailer-color;

    &:hover {
      color: $trailer-color;
      background-color: $dark;
    }
  }

  &__item-view-details {
    width: fit-content;
    height: 100%;
    padding: $spacing-1 $spacing-2;
    border-radius: $spacing-1;

    &:hover {
      opacity: 0.5;
    }
  }

  &__slider {
    @include fade-in-slide-up(500ms, ease-in, 1s);
    position: absolute;
    right: calc((100% - $container) / 2);
    bottom: 0;
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 12rem;

    // perspective
    $perspective: 1500px;
    -webkit-perspective: $perspective;
    -moz-perspective: $perspective;
    -ms-perspective: $perspective;
    perspective: $perspective;

    @media (max-width: map-get($breakpoint, medium)) {
      display: none;
    }

    @media (min-width: map-get($breakpoint, large)) {
      width: calc($container / 2);
    }
  }

  // perspective, translateX, translateZ
  &__slider-item {
    --slider-item-width: 8rem;
    --slider-item-height: 11rem;
    width: var(--slider-item-width);
    height: var(--slider-item-height);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50% !important;
    z-index: 0;
    opacity: 0;
    border-radius: $spacing-1;
    overflow: hidden;
    cursor: pointer;

    transform: translateZ(-750px);
    transition: 300ms linear;

    &--active {
      opacity: 1;
      z-index: 3;
      transform: translateZ(0);
    }

    &--prev-1 {
      opacity: 1;
      z-index: 2;
      transform: translateX(calc(var(--slider-item-width) * -1))
        translateZ(-250px);
    }

    &--prev-2 {
      opacity: 1;
      z-index: 1;
      transform: translateX(calc(var(--slider-item-width) * -2))
        translateZ(-500px);
    }

    &--next-1 {
      opacity: 1;
      z-index: 2;
      transform: translateX(var(--slider-item-width)) translateZ(-250px);
    }

    &--next-2 {
      opacity: 1;
      z-index: 1;
      transform: translateX(calc(var(--slider-item-width) * 2))
        translateZ(-500px);
    }

    @media (max-width: map-get($breakpoint, medium)) {
      --slider-item-width: 7rem;
      --slider-item-height: 10rem;
    }
  }

  &__slider-img {
    @include user-drag-none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 250ms ease-in;

    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);

    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

    @media (hover: hover) {
      &:hover {
        scale: 1.1;
      }
    }
  }

  &__trailer-modal {
    @include modal-open(300ms);
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    border: none;
    background-color: transparent;
    user-select: none;

    &:open {
      display: grid;
      place-items: center;
    }

    &::backdrop {
      @include fade-in(300ms);
      backdrop-filter: blur(15px);
    }

    &--close {
      @include modal-close(300ms);
    }

    &--close::backdrop {
      @include fade-out(300ms);
    }

    .btn--close-modal {
      position: absolute;
      top: $spacing-6;
      right: $spacing-6;
    }
  }

  &__trailer-modal-video {
    width: min(50rem, 100%);
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: $spacing-2;
    box-shadow: 0 0 10px 2px black;
    overflow: hidden;
  }
}
