@use "../abstracts" as *;

.footer {
  padding-block: $spacing-6;
  margin-top: $spacing-4;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-2;
    max-width: 100%;
  }
}
