@use "../abstracts" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-3;
  width: $container;
  margin-inline: auto;
  padding: $spacing-2;

  &--floating {
    margin-inline: calc((100% - $container) / 2);
    position: absolute;
    z-index: 9999;
    background-color: transparent;
  }

  &__logo {
    font-size: calc($base-font-size * 2);
    padding: $spacing-2;

    @media (max-width: map-get($breakpoint, medium)) {
      margin-left: 3.5rem;
    }
  }

  &__nav {
    display: flex;
    gap: $spacing-2;

    .btn--menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 3rem;
      height: 2rem;
      position: absolute;
      left: $spacing-2;
      z-index: 99999999;

      .bar {
        width: 100%;
        height: 2px;
        background-color: white;
        transform-origin: left;
        transition: 300ms linear;
      }

      &[aria-expanded="true"] {
        position: fixed;

        & .bar:nth-child(1) {
          width: 1.25rem;
          transform: rotate(45deg);
        }
        & .bar:nth-child(2) {
          margin-left: 50%;
          width: 0;
        }
        & .bar:nth-child(3) {
          width: 1.25rem;
          transform: rotate(-45deg);
        }
      }

      @media (min-width: map-get($breakpoint, medium)) {
        display: none;
      }
    }
  }

  &__nav-list {
    display: flex;
    gap: $spacing-2;

    @media (max-width: map-get($breakpoint, medium)) {
      @include dark-glass-effect;
      gap: 0;
      width: 100%;
      height: 100%;
      padding-top: 4rem;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 1000;
      flex-direction: column;
      transition: transform 300ms cubic-bezier(0.29, 0, 1, 0.5);

      &--show {
        transform: translateX(100%);
      }
    }
  }

  &__nav-item {
    display: flex;

    &--menu {
      position: relative;
    }

    @media (max-width: map-get($breakpoint, medium)) {
      padding-left: $spacing-2;
    }
  }

  &__nav-link {
    width: 100%;
    height: auto;
    padding: $spacing-4;

    // TODO
    &:hover {
      opacity: 0.5;
    }

    & * {
      user-select: none;
    }
  }

  &__nav-sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 250ms ease-in-out;

    &--show {
      opacity: 1;
      visibility: visible;
    }
  }
}
