@use "../abstracts" as *;

.content-section {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  // width: $container;
  // margin-inline: auto;
  // width: 100%;
}

.btn--to-top {
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  z-index: 10;
  padding: $spacing-4;
  font-size: map-get($font-size, 3);
  cursor: pointer;
}
