@use "../abstracts" as *;

.content-section {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-2;
    margin-top: $spacing-6;
    font-size: map-get($font-size, 1);
  }
}

.btn--to-top {
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  z-index: 10;
  padding: $spacing-4;
  font-size: map-get($font-size, 3);
  cursor: pointer;
}
