@use "../abstracts" as *;

.login-page {
  display: grid;
  place-items: center;
  height: 100dvh;

  &__containers {
    display: flex;
    // width: min(40rem, 100%);
    // height: min(40rem, 100%);
    width: 20rem;
    height: 20rem;
    position: relative;
    border-radius: $spacing-2;
    color: black;
    transform: rotateY(0deg);
    transition: 500ms ease-in-out;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    width: 100%;
    height: 100%;
    padding: $spacing-6;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    backface-visibility: hidden;
    // transform: rotateY(180deg);
    transform-style: preserve-3d;
    // transition: transform 3s ease-in-out, opacity 0ms linear 1500ms;

    &--active {
      opacity: 1;
    }
  }

  &__form-container h1 {
    font-size: map-get($font-size, 1);
    font-weight: 700;
    margin-bottom: $spacing-4;
  }

  &__message-container {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 999;
    width: 50%;
    height: 100%;
    background-color: red;
    transition: 250ms ease-in-out;

    &--left {
      left: 0;
    }

    & * {
      opacity: 0;
      animation: fade 250ms ease-in-out forwards;
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
