@use "../abstracts" as *;

.searchbar {
  display: flex;
  justify-content: center;
  width: calc(100% - $spacing-2 * 2);
  height: auto;
  position: absolute;
  top: 6rem;
  left: $spacing-2;
  z-index: 9999;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 50%;
    width: 100%;
    height: 3rem;
    border: 1px solid #fff;
    border-radius: $spacing-4;
    overflow: hidden;
    animation: slide-up 300ms linear;
    background: hsla(0, 0%, 0%, 75%);
  }

  .form-control {
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-inline: $spacing-1;
  }

  &__category {
    @extend .form-control;
  }

  &__icon {
    @extend .form-control;
    display: flex;
    align-items: center;
    padding-inline: $spacing-4;
  }

  &__search-input {
    @extend .form-control;
    flex-grow: 1;
  }

  .btn--clear {
    @extend .form-control;
    display: none;
    padding-inline: $spacing-4;
  }

  &__search-input:not(:placeholder-shown) + .btn--clear {
    display: block;
  }

  &__result-list {
    width: 100%;
    position: absolute;
    top: calc(100% + $spacing-4);
    z-index: 99999;
    background: hsla(0, 0%, 0%, 75%);
    backdrop-filter: blur(15px);
    border-radius: $spacing-2;
  }

  &__result-list-link {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    width: 100%;
    padding: $spacing-1 $spacing-2;

    &:hover {
      opacity: 0.8;
    }
  }

  &__result-list-img {
    width: 5rem;
    aspect-ratio: 3/4;
  }

  &__result-list-info {
    align-self: start;
  }

  &__result-list-title {
    font-size: map-get($font-size, 4);
  }

  &__result-list-genres {
    font-size: map-get($font-size, 6);
  }

  @media (min-width: map-get($breakpoint, medium)) {
    width: 40rem;
    left: calc((100vw - 40rem) / 2);
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }
}

@keyframes slide-up {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
