@use "../abstracts" as *;

.slider {
  --card-width: 10rem;
  display: flex;
  flex-direction: column;

  @media (min-width: map-get($breakpoint, medium)) {
    --card-width: 13.75rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: $spacing-3;
  }

  &__heading {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    font-size: map-get($font-size, 1);
    font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2rem);
  }

  &__body {
    position: relative;
  }

  &__view-all {
    display: flex;
    align-items: center;
    gap: $spacing-2;

    @media (min-width: map-get($breakpoint, large)) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  @media (min-width: map-get($breakpoint, large)) {
    &__view-all:hover &__arrow-right {
      animation: arrowRight 1000ms ease infinite;
    }
  }

  @keyframes arrowRight {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

  &__inner {
    display: flex;
    gap: $spacing-3;
    padding-left: $spacing-3;
    transition: 250ms linear;

    --webkit-scrollbar-width: none;
    scrollbar-width: none;

    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    scroll-padding: $spacing-3;
    overscroll-behavior-inline: contain;
    pointer-events: none;
    overflow: hidden;

    & * {
      pointer-events: auto;
    }
  }

  &__link {
    flex: 0 0 var(--card-width);
    scroll-snap-align: start;
  }

  &__card {
    display: flex;
    border-radius: $spacing-1;
    position: relative;
    overflow: hidden;
    background-color: hsl(0, 0%, 0%, 0.8);

    @media (min-width: map-get($breakpoint, large)) {
      &:hover {
        z-index: 1;
        overflow: visible;
        border-radius: $spacing-1 0 0 $spacing-1;
      }

      &--reverse:hover {
        border-radius: 0 $spacing-1 $spacing-1 0;
      }
    }
  }

  &__card-img {
    object-fit: cover;
    aspect-ratio: 6 / 9;
    border-radius: $spacing-1;
    transition: 250ms ease-in-out;
  }

  &__card-info {
    @include dark-glass-effect;

    display: flex;
    flex-direction: column;
    gap: $spacing-1;
    width: calc(var(--card-width) * 1.5);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(var(--card-width));
    opacity: 0;

    flex-grow: 1;
    padding: $spacing-4;
    border-radius: 0 $spacing-1 $spacing-1 0;

    transition: opacity 250ms ease-in;

    @media (min-width: map-get($breakpoint, large)) {
    }
  }

  &__card-title {
    font-size: map-get($font-size, 2);
    font-weight: 500;
    margin-bottom: $spacing-1;
    line-height: 1;
  }

  &__card-details {
    display: flex;
    gap: $spacing-2;
    font-size: map-get($font-size, 6);
  }

  &__card-rating {
    display: flex;
    align-items: center;
    gap: $spacing-1;
  }

  &__card-genres {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-2;
    margin-top: $spacing-2;

    & span {
      font-size: map-get($font-size, 6);
      padding: $spacing-1 $spacing-2;
      border-radius: $spacing-1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__card-overview {
    margin-top: $spacing-2;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; // Limit lines
    -webkit-box-orient: vertical;
  }

  &__btn {
    position: absolute;
    // top: $spacing-3;
    // height: calc(100% - $spacing-3 * 2);
    height: 100%;
    padding-inline: $spacing-3;
    background-color: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
    font-size: map-get($font-size, 2);

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &--hidden {
      // display: none;
    }

    @media (min-width: map-get($breakpoint, large)) {
      &:hover {
        background-color: hsl(0, 0%, 0%, 0.5);
        backdrop-filter: blur(10px);
      }
    }
  }

  @media (min-width: map-get($breakpoint, large)) {
    &__card:hover &__card-img {
      scale: 0.9;
    }

    &__card:hover &__card-info {
      opacity: 1;
      z-index: 2;
    }

    &__card--reverse:hover &__card-info {
      transform: translateX(calc(var(--card-width) * -1.5));
      border-radius: $spacing-1 0 0 $spacing-1;
    }
  }

  &__card:hover &__card-img {
    filter: brightness(0.8);
  }
}
