@mixin animation(
  $name,
  $duration,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: none
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
  animation-fill-mode: $fill-mode;
}

@mixin fade-in($duration: 1s, $timing: ease-in-out, $delay: 0s) {
  animation: fade-in $duration $timing $delay forwards;
}

@mixin fade-out($duration: 1s, $timing: ease-in-out, $delay: 0s) {
  animation: fade-out $duration $timing $delay forwards;
}

@mixin modal-open($duration: 1s, $timing: ease-in-out, $direction: normal) {
  animation: fade-in-slide-up $duration $timing $direction forwards;
}

@mixin modal-close($duration: 1s, $timing: ease-in-out) {
  animation: fade-out-slide-down $duration $timing forwards;
}

@mixin fade-in-slide-up($duration: 1s, $timing: ease-in-out, $delay: 0s) {
  animation: fade-in-slide-up $duration $timing $delay forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-slide-down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}
