$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$base-font-size: 16px;

// Define a map for font sizes for headings
$font-size: (
  1: 2rem,
  2: 1.75rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 0.875rem,
);
