@use "./container" as *;
@use "./colors" as *;
@use "./spacing" as *;

@mixin flex-group {
  display: flex;
  align-items: center;
  gap: $spacing-2;
}

@mixin glass-effect {
  backdrop-filter: blur(15px);
}

@mixin dark-glass-effect {
  @include glass-effect;
  background-color: $dark-glass-color;
}

@mixin light-glass-effect {
  @include glass-effect;
  background-color: $light-glass-color;
}

@mixin container {
  width: $container;
  margin-inline: auto;
}

@mixin user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin user-drag-none {
  user-drag: none;
  -webkit-user-drag: none;
}
