@use "../abstracts/colors" as *;

@mixin flex-row {
  display: flex;
}

@mixin glass-effect {
  backdrop-filter: blur(15px);
}

@mixin dark-glass-effect {
  @include glass-effect;
  background-color: $dark-glass-color;
}

@mixin light-glass-effect {
  @include glass-effect;
  background-color: $light-glass-color;
}
