/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

img,
video,
svg {
  max-width: 100%;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.login-page {
  display: grid;
  place-items: center;
  height: 100dvh;
}
.login-page__containers {
  display: flex;
  width: 20rem;
  height: 20rem;
  position: relative;
  border-radius: 0.5rem;
  color: black;
  transform: rotateY(0deg);
  transition: 500ms ease-in-out;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.login-page__form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.login-page__form-container--active {
  opacity: 1;
}
.login-page__form-container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.login-page__message-container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 999;
  width: 50%;
  height: 100%;
  background-color: red;
  transition: 250ms ease-in-out;
}
.login-page__message-container--left {
  left: 0;
}
.login-page__message-container * {
  opacity: 0;
  animation: fade 250ms ease-in-out forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  width: min(80rem, 100%);
  margin-inline: calc((100% - min(80rem, 100%)) / 2);
  padding: 0.5rem;
  background-color: red;
}
.header--home {
  position: absolute;
  top: 1rem;
  z-index: 999;
  background-color: transparent;
}
.header__logo {
  font-size: 32px;
  padding: 0.5rem;
}
@media (min-width: 48rem) {
  .header__nav .btn {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 48rem) {
  .header__nav-list {
    height: 100%;
    gap: 0;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 250ms ease-in-out;
  }
  .header__nav-list--show {
    left: 0;
  }
}
.header__nav-item {
  display: flex;
}
.header__nav-item--menu {
  position: relative;
}
.header__nav-link {
  width: 100%;
  height: auto;
  padding: 1rem;
}
.header__nav-link:hover {
  opacity: 0.5;
}
.header__nav-sub-list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  transition: 250ms ease-in-out;
}
.header__nav-sub-list--show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 48rem) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.searchbar {
  position: absolute;
  top: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: min(80rem, 100%);
  margin-inline: calc((100vw - min(80rem, 100%)) / 2);
}
.searchbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  overflow: hidden;
  animation: slide-up 300ms linear;
  background: hsla(0, 0%, 0%, 0.75);
}
.searchbar .form-control, .searchbar .btn--clear, .searchbar .searchbar__search-input, .searchbar .searchbar__icon, .searchbar .searchbar__category {
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-inline: 0.25rem;
}
.searchbar__icon {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}
.searchbar__search-input {
  flex-grow: 1;
}
.searchbar .btn--clear {
  display: none;
  padding-inline: 1rem;
}
.searchbar__search-input:not(:placeholder-shown) + .btn--clear {
  display: block;
}

@keyframes slide-up {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
.carousel {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  /* &__slider-item {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 6rem;
    height: 9rem;
    border-radius: $spacing-1;
    opacity: 0;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 600ms ease-in, width 300ms ease-in, height 300ms ease-in,
      z-index 300ms ease-in, transform 300ms ease-in;

    // width: 8rem;
    // height: 11rem;
    // z-index: 0;
    // transform: translateZ(-750px);

    &

    &--active {
      opacity: 1;
      width: 8rem;
      height: 11rem;
      z-index: 20;

      // z-index: 3;
      // transform: translateZ(0);
    }

    &--prev-1 {
      opacity: 1;
      width: 6rem;
      height: 9rem;
      z-index: 19;
      transform: translateX(-7.5rem);

      // z-index: 2;
      // transform: translateX(-8rem) translateZ(-250px);
    }

    &--prev-2 {
      opacity: 1;
      width: 5rem;
      height: 7rem;
      z-index: 18;
      transform: translateX(-13.5rem);

      // z-index: 1;
      // transform: translateX(-16rem) translateZ(-500px);
    }

    &--next-1 {
      opacity: 1;
      width: 6rem;
      height: 9rem;
      z-index: 19;
      transform: translateX(7.5rem);

      // z-index: 2;
      // transform: translateX(8rem) translateZ(-250px);
    }

    &--next-2 {
      opacity: 1;
      width: 5rem;
      height: 7rem;
      z-index: 18;
      transform: translateX(13.5rem);

      // z-index: 1;
      // transform: translateX(16rem) translateZ(-500px);
    }

    &:last-of-type {
      outline: 2px solid lime;
    }
  } */
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 500ms ease-in;
}
.carousel__item--active {
  opacity: 1;
}
.carousel__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.carousel__item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  height: auto;
  padding: 1rem;
  user-select: none;
  /* background-color: hsl(0, 0%, 0%, 0.3);
  backdrop-filter: blur(4px); */
}
@media (max-width: 60rem) {
  .carousel__item-info {
    width: min(30rem, 100%);
    height: fit-content;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
  }
}
.carousel__item-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.carousel__item-details {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
}
.carousel__item-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.carousel__item-genres span {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(5px);
}
.carousel__item-overview {
  line-height: 1.25;
}
.carousel__slider {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 50vw;
  height: 12rem;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  perspective: 1500px;
}
@media (max-width: 60rem) {
  .carousel__slider {
    width: 100%;
  }
}
.carousel__slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50% !important;
  width: 8rem;
  height: 11rem;
  z-index: 0;
  opacity: 0;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 600ms ease-in, width 300ms ease-in, height 300ms ease-in, z-index 300ms ease-in, transform 300ms ease-in;
  transform: translateZ(-750px);
}
.carousel__slider-item--active {
  opacity: 1;
  z-index: 3;
  transform: translateZ(0);
}
.carousel__slider-item--prev-1 {
  opacity: 1;
  z-index: 2;
  transform: translateX(-8rem) translateZ(-250px);
}
.carousel__slider-item--prev-2 {
  opacity: 1;
  z-index: 1;
  transform: translateX(-16rem) translateZ(-500px);
}
.carousel__slider-item--next-1 {
  opacity: 1;
  z-index: 2;
  transform: translateX(8rem) translateZ(-250px);
}
.carousel__slider-item--next-2 {
  opacity: 1;
  z-index: 1;
  transform: translateX(16rem) translateZ(-500px);
}
@media (max-width: 30rem) {
  .carousel__slider-item {
    width: 7rem;
    height: 10rem;
  }
  .carousel__slider-item--active {
    opacity: 1;
    z-index: 3;
    transform: translateZ(0);
  }
  .carousel__slider-item--prev-1 {
    opacity: 1;
    z-index: 2;
    transform: translateX(-7rem) translateZ(-250px);
  }
  .carousel__slider-item--prev-2 {
    opacity: 0;
    z-index: 1;
    transform: translateX(0) translateZ(-500px);
  }
  .carousel__slider-item--next-1 {
    opacity: 1;
    z-index: 2;
    transform: translateX(7rem) translateZ(-250px);
  }
  .carousel__slider-item--next-2 {
    opacity: 0;
    z-index: 1;
    transform: translateX(0) translateZ(-500px);
  }
}
.carousel__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
@media (hover: hover) {
  .carousel__slider-img:hover {
    object-fit: cover;
    transform: scale(1.1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider {
  --card-width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .slider {
    --card-width: 13.75rem;
  }
}
.slider__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.slider__heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2rem);
}
.slider__body {
  position: relative;
}
.slider__view-all {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.slider__view-all:hover {
  opacity: 0.8;
}
.slider__view-all:hover .slider__arrow-right {
  animation: arrowRight 1000ms ease infinite;
}
@keyframes arrowRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}
.slider__inner {
  display: flex;
  gap: 0.75rem;
  transition: 250ms linear;
  overflow-x: auto;
  --webkit-scrollbar-width: none;
  scrollbar-width: none;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  scroll-padding: 0.75rem;
  overscroll-behavior-inline: contain;
}
.slider__link {
  flex: 0 0 var(--card-width);
  scroll-snap-align: start;
  -webkit-user-drag: none;
  user-drag: none;
}
.slider__card {
  display: flex;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  background-color: hsla(0, 0%, 0%, 0.8);
}
@media (min-width: 60rem) {
  .slider__card:hover {
    z-index: 1;
    overflow: visible;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .slider__card--reverse:hover {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}
.slider__card-img {
  object-fit: cover;
  aspect-ratio: 6/9;
  border-radius: 0.25rem;
  transition: 250ms ease-in-out;
}
.slider__card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(var(--card-width) * 1.5);
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  transform: translateX(var(--card-width));
  opacity: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  backdrop-filter: blur(15px);
  flex-grow: 1;
  padding: 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: opacity 250ms ease-in;
}
.slider__card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.slider__card-details {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
}
.slider__card-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.slider__card-genres span {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.slider__card-overview {
  margin-top: 0.5rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.slider__btn {
  position: absolute;
  height: 100%;
  padding-inline: 0.75rem;
  background-color: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
  font-size: 1.5rem;
}
.slider__btn--prev {
  left: 0;
}
.slider__btn--next {
  right: -1px;
}
.slider__btn:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(10px);
}
.slider__card:hover .slider__card-img {
  filter: brightness(0.8);
  scale: 0.9;
}
.slider__card:hover .slider__card-info {
  opacity: 1;
  z-index: 2;
}
.slider__card--reverse:hover .slider__card-info {
  transform: translateX(calc(var(--card-width) * -1.5));
  border-radius: 0.25rem 0 0 0.25rem;
}

.content {
  background: lime;
}
.content__banner {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: top;
}
.content__container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  width: min(80rem, 100%);
  margin-inline: calc((100% - min(80rem, 100%)) / 2);
  margin-top: -10rem;
  padding: 1rem;
}
.content__aside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  grid-column: 1;
  grid-row: 1/span 2;
}
.content__poster {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  background: red;
}
.content__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  grid-column: 2;
  grid-row: 1;
}
.content__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  grid-column: 2;
  grid-row: 2;
}
.content__cast-img {
  width: 6rem;
  height: 9rem;
  object-fit: cover;
}

.content-section {
  display: flex;
}
.content-section__label-container {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 1rem;
  font-size: 2rem;
  position: relative;
}
.content-section__label {
  position: sticky;
  top: 1.5rem;
  user-select: none;
}
.content-section__tabs-list {
  display: flex;
}
.content-section__tabs-item {
  padding: 1rem;
}
.content-section__sliders-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.btn--to-top {
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  z-index: 10;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */